<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
	 <add name="FSolv" connectionString="data source=.;initial catalog=master; Integrated Security = true; MultipleActiveResultSets=True"/>
	 <add name="masterEntities" connectionString="metadata=res://*/ContextModel.csdl|res://*/ContextModel.ssdl|res://*/ContextModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <appSettings>
		<add key="AssemblyPath" value="C:\Users\josee\Documents\ISEL\3_Ano-5_Semestre\SI2\Trabalho_Pratico\app\FSolv\HandImplementation\bin\Debug\HandImplementation.dll" />
		<!--<add key="AssemblyPath" value="C:\Users\josee\Documents\ISEL\3_Ano-5_Semestre\SI2\Trabalho_Pratico\app\FSolv\EntityF\bin\Debug\EntityF.dll" />-->
</appSettings>
</configuration>